<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:replace="header.html::header"> </div>
    <br>
    <br>
    <br>
    <div class="container">

    <table class="table">
        <thead>
        <tr>
            <th class="one wide">번호</th>
            <th class="ten wide">학원이름</th>
            <th class="two wide">학원위치</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="academy : ${academyList}">
            <td>
                <span th:text="${academy.ID}"></span>
            </td>
            <td>
                <span th:text="${academy.ACA_NM}"></span>
            </td>
            <td>
                <span th:text="${academy.ADMST_ZONE_NM}"></span>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <br>
    <br>
    <hr>

    <div th:replace="footer.html::footer"> </div>

</body>
</html>