<!DOCTYPE html>
<html lang="en" th:fragment="footer">
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div> <p style="font-weight : bold; color:#9AF0B2; font-size:25px;">1234-1234</p> </div>
                <div> <p>평일 10:00 ~ 18:00 <br> (점심시간 13:00 ~ 14:00 제외 ◈ 주말/공휴일 제외) </p> </div>
                <div class="nav text-center">
                    <div class="download col-md-4 offset-1 " > <i class="fab fa-google"></i>Download</div>
                    <div class="download col-md-4 offset-1"> <i class="fab fa-google"></i>Download</div>
                </div>
            </div>
            <div class="col-md-4 offset-4 nav noti">
                <div class="col-md-3">
                    <ul>
                        <li style="font-weight : bold;">고객센터</li>
                        <li>고객센터</li>
                        <li>고객센터</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li style="font-weight : bold;">고객센터</li>
                        <li>고객센터</li>
                        <li>고객센터</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li style="font-weight:bold;">고객센터</li>
                        <li>고객센터</li>
                        <li>고객센터</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li style="font-weight : bold;">고객센터</li>
                        <li>고객센터</li>
                        <li>고객센터</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-9">
                <div class="nav">
                    <ul class="nav mx-2">
                        <li >이용약관</li>
                        <li style="margin-left:40px;">개인정보 처리방침</i></li>
                        <li style="margin-left:40px;">사업자 정보관리</li>
                    </ul>
                </div>
                <div class="nav">
                    <ul class="nav mx-2">
                        <li >이용약관</li>
                        <li style="margin-left:40px;">개인정보 처리방침</i></li>
                        <li style="margin-left:40px;">사업자 정보관리</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="nav">
                    <ul class="nav mx-2">
                        <li style="margin-right:10px;"><i class="fab fa-google fa-2x"></i></li>
                        <li><i class="fab fa-google fa-2x"></i></li>
                        <li style="margin-left:10px;"><i class="fab fa-google fa-2x"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>