.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
		*{ margin: 0px; padding: 0px;}
		a{ text-decoration: none; }
        .menu a {
          text-decoration: none;
          color : black;
        }
        .header{
            background-color : #ffffff;
            width : 100%;
        }
        .header_menu span{
            margin-right : 30px;
        }
        .search_box input{
            border: solid 3px lime;
            border-radius: 30px;
            margin-right : 50px;
            height : 50px;
            width : 350px;
        }
        .search:focus, .search.active{
            outline: none !important;
            box-shadow: none;
            border: solid 3px lime;
        }
        .up{
            background-color :#9AF0B2;
        }
        .menu{
            font-family: 'GmarketSansMedium';
            font-weight : bold;
        }
        .btn:focus,.btn:active {
            outline: none !important;
            box-shadow: none;
        }
        .cate:hover{
            transform: translate(0,-10px);
        }
        .item2:hover{
            transform: translate(0,-10px);
        }
        .noti li{
            list-style-type: none;
        }
        .download{
             background-color :#9AF0B2;
             border-radius: 30px;
        }


h5{
    font-family: GmarketSansMedium;
    color : black;
}


h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "GmarketSansMedium", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}

/* === HEADING STYLE #1 === */
.one h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.one h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #9AF0B2;
}
.one h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #9AF0B2;
}
